.layout {
    display: flex;
}

.search {
   position: relative;
}
.weather {
  position: absolute;
}
.profile {
  position: absolute;
  right: 0;
}
.highlights {
 position: absolute;
}
.loading {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}