

.profile {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 50px;
    padding: 0.5rem;
    gap: 0.5rem;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.username {
    font-size: 1rem;
    white-space: nowrap;
}



@media (max-width: 480px) {
    .profile {
        padding: 0.3rem;
    }

    .profile img {
        width: 30px;
        height: 30px;
    }

    .username {
        font-size: 0.85rem;
    }
}



@media (min-width: 1024px) {
    .profile {
        justify-content: center;
        margin-right: 1rem;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
    }

    .profile img {
        width: 50px;
        height: 50px;
    }

    .username {
        font-size: 1.1rem;
    }
}