.profile {
    display: flex;
    position: relative;
    background-color: #0E1421;
    padding: 0.3rem;
    width: 10rem;
    border-radius: 50px;
    align-items: center;
    margin-top: 2%;
    margin-right: 1%;

}
.profile-pic {
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
    width: 40px;
    height: 40px;
}
