
.search-container {
    position: relative;
}

input {
    display: flex;
    padding: 2vh;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: #0E1421;
    text-align: left;
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.sdropdown {
    position: absolute;
    background-color: #0E1421;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 1111;
    max-height: 300px;
    overflow-y: auto;
}

.sdropdown-item {
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sdropdown-item:hover {
    background-color: #1a2332;
}



@media (max-width: 480px) {
    .search-container {
        display: flex;
        width: 30vw;
        bottom: 8vh;
        left: 15vw;
    }

    input {
        width: 50vw;
        height: 6vh;
    }

    .sdropdown {
        width: 60vw;
        left: 0;
        top: 100%;
        margin-top: 0.5rem;
    }
}


@media (min-width: 1024px) {
    input {
        width: 30rem;
        margin-top: 10px;
    }

    .sdropdown {
        width: 30rem;
        left: 0;
        top: 100%;
        margin-top: 0.5rem;
    }
}