.search {
}
text {
    text-align: left;
}
input {
    display: flex;
    width: 30rem;
    padding: 0.8rem;
    border: 2px solid transparent;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #0E1421;
    text-align: left;
}
input::placeholder {
    display: flex;

}