* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
    width: 27px;
    height: 27px;
    margin: 0 auto;
}


.side-container {
    display: flex;
    background-color: #0E1421;
    padding: 20px 15px;
    margin: 20px;
    gap:10px;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    border-radius: 15px;
    width: 90px;

}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logout-button {
    margin-top: auto;
}