* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
    width: 27px;
    height: 27px;
    margin: 0 auto;
}

 @media (max-width: 480px) {
    aside{
      display: none;
    }
 }

@media (min-width: 1024px) {
    .side-container {
        display: flex;
        padding: 20px 15px;
        margin: 20px;
        gap:10px;
        flex-direction: column;
        height: 95vh;
        align-items: center;
        border-radius: 15px;
        width: 90px;
    }
    button {
        bottom: 0;
    }
    .cities-logout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-align: center;
    }
    .city-container {
        gap: 10px;
        border-radius: 1rem;
        border: 1px solid darkviolet;
        background: linear-gradient(to top, #1D325F 0%, #0E1421 100%);
        width: 5vw;
        height: 5vw;
    }

}

.side-container {
    background-color: #0E1421;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

