
  .logo img {
    width: 6vw;
    height: 7vh;
}

 @media (max-width: 480px) {
    .side-container {
        display: flex;
        width: 12vw;
        height: 6vh;
        justify-content: center;
        position: relative;
        border-radius: 50px;
    }
     .cities-logout {
         display: none;
     }
     .city-container {
         display: none;
     }
 }

@media (min-width: 1024px) {
    .side-container {
        display: flex;
        padding: 20px 15px;
        margin: 20px;
        gap:10px;
        flex-direction: column;
        height: 95vh;
        align-items: center;
        border-radius: 15px;
        width: 6vw;
    }
    button {
        bottom: 0;
    }
    .cities-logout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-align: center;
    }
    .city-container {
        border-radius: 1rem;
        background: linear-gradient(to bottom, #1D325F 0%, #0E1421 100%);
        width: 6vw;
        height: 5vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .city-name h2{
        font-size: 0.8rem;
    }

}

.side-container {
    background-color: #0E1421;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

