

@media (prefers-reduced-motion: no-preference) {
    .weather-info {
        animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.weather-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #0E1421;
    border-radius: 50px;

}

.current-location {
    display: flex;
    align-items: center;
}

.current-location h4 {
    background-color: purple;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.day-temp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date h2 {
    font-size: 15px;
}

.temp h1,
.temp h4 {
    font-size: 2rem;
    margin: 0;
}

.icon-con {
    display: flex;
    flex-direction: column;
}

.condition {
    font-size: 1.3rem;
}

.weather-icon img {
    width: 300px;
    height: 150px;
}

.day h2 {
    text-align: left;
    font-size: 2.5rem;
    margin: 0;
}


@media (max-width: 480px) {
    .weather-info {
        width: 95vw;
        height: 40vh;
        left: 1rem;
        margin-left: 2.5vw;

    }

    .current-location {
        position: relative;
        margin-top: 2vh;
        margin-left: 6vw;
    }

    .current-location h4 {
        font-size: 1rem;
    }

    .day-temp {
        position: relative;
        margin-top: 16vh;
        margin-left: 6vw;
    }

    .date h2 {
        font-size: 13px;
    }

    .temp h1 {
        font-size: 2.5rem;
    }

    .icon-con {
        position: relative;
        height: 27vh;
        width: 50vw;
        right: 20vw;
    }

    .weather-icon {
        display: flex;


    }

    .weather-icon img {
        width: 40vw;
        height: 20vh;
    }

    .condition {
        font-size: 20px;
        margin-left: 0;
        text-align: center;
    }

    .day h2 {
        font-size: 2rem;
        text-align: center;
    }
}


@media (min-width: 1024px) {
    .weather-info {
        margin-top: 20px;
        width: 40vw;
        height: 40vh;
    }

    .current-location {
        position: relative;
        top: 2rem;
        left: 2rem;
    }

    .day-temp {
        position: relative;
        top: 6rem;
        left: 2rem;
    }

    .date h2 {
        position: relative;
    }

    .icon-con {
        position: relative;
        top: 4rem;
        left: 4rem;
    }

    .condition {
        margin-left: 5rem;
    }
}