

@media (prefers-reduced-motion: no-preference) {
    .weather-info {
        animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.weather-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #0E1421;
    border-radius: 50px;

}

.current-location {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.current-location h4 {
    background-color: purple;
    border-radius: 30px;
    font-size: 1vw;
    justify-content: space-between;
    align-items: center;
}

.current-location button {
    display: inline-flex;
    border-radius: 30px;
}
.current-location button img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-temp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date h2 {
    font-size: 15px;
}

.temp h1,
.temp h4 {
    font-size: 2rem;
    margin: 0;
}

.icon-con {
    display: flex;
    flex-direction: column;
}

.condition {
    font-size: 1.3rem;
}

.weather-icon img {
    width: 30vw;
    height: 15vh;
}

.day h2 {
    text-align: left;
    font-size: 2.5rem;
    margin: 0;
}


@media (max-width: 480px) {
    .weather-info {
        width: 93vw;
        height: 45vh;
        position: relative;
        justify-content: center;
        bottom: 6vh;
    }

    .current-location {
        position: relative;
        margin-left: 6vw;
    }

    .current-location h4 {
        font-size: 4vw;
    }

    .day-temp {
        position: relative;
        width: 50vw;
        height: fit-content;
        margin-top: 16vh;
        margin-left: 6vw;
    }

    .date h2 {
        font-size: 3vw;
    }

    .temp h1 {
        font-size: 6vw;
    }
    .temp h4 {
        font-size: 6vw;
    }

    .icon-con {
        position: absolute;
        height: 27vh;
        width: 40vw;
        left: 40vw;
        bottom: 10vh;
    }

    .weather-icon {
        display: flex;
    }

    .weather-icon img {
        width: 40vw;
        height: 20vh;
    }

    .condition {
        font-size: 20px;
        margin-left: 0;
        text-align: center;
    }

    .day h2 {
        font-size: 2rem;
        text-align: center;
    }
}


@media (min-width: 1024px) {
    .weather-info {
        margin-top: 20px;
        min-width: 548px;
        width: 40vw;
        height: 40vh;
    }

    .current-location {
        position: relative;
        top: 3vh;
        left: 2vw;
    }
    .current-location h4 {
        display: flex;
        padding: 1vh 1vw;

    }
    .current-location button {
        width: 4vw;
        height: 5vh;

    }

    .day-temp {
        position: relative;
        top: 6rem;
        left: 2rem;
    }

    .date h2 {
        position: relative;
    }

    .icon-con {
        position: relative;
        top: 8vh;

    }

    .condition {
        margin-left: 10rem;
    }
}